brisbane-tvs-lead-flow.n8n.json
{
  "name": "Brisbane TVs \u2014 Lead Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "brisbane-tvs-lead",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -400,
        300
      ],
      "id": "2ed6091b-6456-4569-bb12-ecc1f5510cef",
      "name": "Webhook",
      "webhookId": "ceddbdbe-df63-4260-96df-7965a43c978e"
    },
    {
      "parameters": {
        "jsCode": "// Brisbane TVs \u2014 normalize lead, detect spam, build email\nconst i = ($input.first() || {}).json || {};\n\n// Honeypot \u2014 any non-empty value in these fields means bot\nconst isSpam = !!(i.company_website || i.honeypot || i.hp);\nif (isSpam) {\n  return [{ json: { isSpam: true } }];\n}\n\nconst safe = (v, d = '') => (v === undefined || v === null) ? d : String(v).trim();\nconst lead = i.lead || {};\nconst job = i.job || {};\nconst tracking = i.tracking || {};\nconst server = i.server || {};\n\nconst name     = safe(lead.name, '(no name)');\nconst phone    = safe(lead.phone);\nconst email    = safe(lead.email);\nconst suburb   = safe(lead.suburb);\nconst postcode = safe(lead.postcode);\n\nconst tvCount   = job.tv_count || 1;\nconst sizeTier  = safe(job.size_tier);\nconst sizeLabel = safe(job.size_label, sizeTier);\nconst addons    = Array.isArray(job.addons) ? job.addons : [];\nconst wall      = safe(job.wall_type);\nconst date      = safe(job.preferred_date);\nconst estimate  = job.estimate_aud;\nconst notes     = safe(job.notes);\n\nconst source  = safe(i.source, 'unknown');\nconst pageUrl = safe(i.page_url);\n\nconst isSubscribe = source === 'newsletter' || source === 'subscribe';\n\n// Subject line\nlet subject;\nif (isSubscribe) {\n  subject = `New subscriber \u2014 ${email || name || 'no email'}`;\n} else {\n  const parts = [];\n  if (sizeLabel) parts.push(sizeLabel);\n  if (suburb)    parts.push(suburb);\n  if (estimate)  parts.push(`$${estimate}`);\n  subject = `New lead \u2014 ${parts.join(' \u00b7 ') || 'Brisbane TVs'}`;\n}\n\n// Click-to-call / mailto links\nconst esc = (s) => String(s).replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;').replace(/\"/g,'&quot;');\nconst telHref = phone ? phone.replace(/[^\\d+]/g, '') : '';\nconst phoneLine = phone\n  ? `<a href=\"tel:${esc(telHref)}\" style=\"color:#403ed0;text-decoration:none;font-weight:600;\">${esc(phone)}</a>`\n  : '<span style=\"color:#999;\">(not provided)</span>';\nconst emailLine = email\n  ? `<a href=\"mailto:${esc(email)}\" style=\"color:#403ed0;text-decoration:none;\">${esc(email)}</a>`\n  : '<span style=\"color:#999;\">(not provided)</span>';\n\nconst hasJob = sizeLabel || tvCount > 1 || addons.length || wall || date || notes || estimate;\n\nconst html = `<!doctype html>\n<html><body style=\"margin:0;padding:0;background:#f4f4f6;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,sans-serif;color:#1a1a1a;\">\n  <div style=\"max-width:560px;margin:0 auto;padding:24px;\">\n    <div style=\"background:#fff;border-radius:12px;padding:28px 28px 24px;box-shadow:0 1px 4px rgba(0,0,0,0.06);\">\n      <div style=\"font-size:11px;letter-spacing:1.5px;text-transform:uppercase;color:#403ed0;font-weight:700;margin-bottom:6px;\">${isSubscribe ? 'New Subscriber' : 'New Lead'}</div>\n      <h1 style=\"margin:0 0 20px;font-size:22px;font-weight:700;color:#1a1a1a;\">${esc(name)}</h1>\n      <table cellpadding=\"0\" cellspacing=\"0\" style=\"width:100%;font-size:14px;line-height:1.5;border-collapse:collapse;\">\n        <tr><td style=\"padding:8px 0;color:#666;width:120px;\">Phone</td><td style=\"padding:8px 0;\">${phoneLine}</td></tr>\n        <tr><td style=\"padding:8px 0;color:#666;\">Email</td><td style=\"padding:8px 0;\">${emailLine}</td></tr>\n        ${(suburb || postcode) ? `<tr><td style=\"padding:8px 0;color:#666;\">Suburb</td><td style=\"padding:8px 0;\">${esc([suburb, postcode].filter(Boolean).join(' '))}</td></tr>` : ''}\n      </table>\n      ${hasJob ? `\n      <div style=\"height:1px;background:#eee;margin:20px 0;\"></div>\n      <div style=\"font-size:12px;letter-spacing:0.8px;text-transform:uppercase;color:#999;font-weight:600;margin-bottom:10px;\">Job Details</div>\n      <table cellpadding=\"0\" cellspacing=\"0\" style=\"width:100%;font-size:14px;line-height:1.5;border-collapse:collapse;\">\n        ${(sizeLabel || tvCount > 1) ? `<tr><td style=\"padding:6px 0;color:#666;width:120px;\">TV</td><td style=\"padding:6px 0;\">${tvCount} \u00d7 ${esc(sizeLabel || 'unspecified size')}</td></tr>` : ''}\n        ${addons.length ? `<tr><td style=\"padding:6px 0;color:#666;\">Add-ons</td><td style=\"padding:6px 0;\">${esc(addons.join(', '))}</td></tr>` : ''}\n        ${wall  ? `<tr><td style=\"padding:6px 0;color:#666;\">Wall type</td><td style=\"padding:6px 0;\">${esc(wall)}</td></tr>` : ''}\n        ${date  ? `<tr><td style=\"padding:6px 0;color:#666;\">Preferred date</td><td style=\"padding:6px 0;\">${esc(date)}</td></tr>` : ''}\n        ${estimate ? `<tr><td style=\"padding:6px 0;color:#666;\">Estimate</td><td style=\"padding:6px 0;font-weight:600;\">$${esc(estimate)}</td></tr>` : ''}\n        ${notes ? `<tr><td style=\"padding:6px 0;color:#666;vertical-align:top;\">Notes</td><td style=\"padding:6px 0;white-space:pre-wrap;\">${esc(notes)}</td></tr>` : ''}\n      </table>` : ''}\n      <div style=\"height:1px;background:#eee;margin:20px 0;\"></div>\n      <div style=\"font-size:11px;color:#999;line-height:1.5;\">\n        <div><strong style=\"color:#666;\">Source:</strong> ${esc(source)}${pageUrl ? ` \u00b7 <a href=\"${esc(pageUrl)}\" style=\"color:#999;\">${esc(pageUrl)}</a>` : ''}</div>\n        ${(tracking.utm_source || tracking.utm_campaign) ? `<div><strong style=\"color:#666;\">UTM:</strong> ${esc([tracking.utm_source, tracking.utm_medium, tracking.utm_campaign].filter(Boolean).join(' / '))}</div>` : ''}\n        ${tracking.referrer ? `<div><strong style=\"color:#666;\">Referrer:</strong> ${esc(tracking.referrer)}</div>` : ''}\n        ${server.ip ? `<div><strong style=\"color:#666;\">IP:</strong> ${esc(server.ip)}${server.country ? ` (${esc(server.country)})` : ''}</div>` : ''}\n      </div>\n    </div>\n    <div style=\"text-align:center;font-size:11px;color:#aaa;margin-top:14px;\">Brisbane TVs \u00b7 automated lead notification</div>\n  </div>\n</body></html>`;\n\nreturn [{\n  json: {\n    isSpam: false,\n    subject,\n    html,\n    name, phone, email, suburb, postcode,\n    source, pageUrl,\n    tvCount, sizeTier, sizeLabel, addons, wall, date, estimate, notes\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        300
      ],
      "id": "f4f545c5-01fb-40ce-9419-750da8d3fcb6",
      "name": "Build Email"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "ec384a0a-2dd1-457e-8c1c-260555a099e8",
              "leftValue": "={{ $json.isSpam }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        80,
        300
      ],
      "id": "a1431d1c-a9cb-49f9-8f19-c0a85ea0dcef",
      "name": "Spam?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"ok\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        320,
        460
      ],
      "id": "6bc033be-6f99-45e0-99de-264d4098da43",
      "name": "Respond Silently (spam)"
    },
    {
      "parameters": {
        "sendTo": "tomdavie016@gmail.com, drdeandrehyde@gmail.com",
        "subject": "={{ $('Build Email').first().json.subject }}",
        "emailType": "html",
        "message": "={{ $('Build Email').first().json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        320,
        140
      ],
      "id": "dd87cfa7-e4e0-443e-88a5-487569ba1e76",
      "name": "Email Tom",
      "webhookId": "e09e05ca-73e7-46e2-9658-3cfb9301e736",
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_YOUR_GMAIL_CRED_ID",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"ok\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        560,
        140
      ],
      "id": "a4f3405e-5f46-4b4f-9ae4-6e19075cd9d2",
      "name": "Respond OK"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Build Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Email": {
      "main": [
        [
          {
            "node": "Spam?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spam?": {
      "main": [
        [
          {
            "node": "Respond Silently (spam)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email Tom",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Tom": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d734b2e9-df6e-4225-b67c-8d81b05757de",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "5a7a23055c2b42c0",
  "tags": []
}